@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
  background: rgb(175,100,170);
  background-image: url("./assets/pixelstarspink.png"), linear-gradient(0deg, rgba(175,100,170,1) 0%, rgba(75,41,96,1) 11%, rgba(4,8,61,1) 100%);
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 238, 238);
  font-family: 'Nova Square', cursive;
  
}

h1, h2, h3 {
font-family: 'Press Start 2P', cursive;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #e39063;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  font-size: 110%;
  transition-duration: 1s;
}


.animate-ship {
  margin: 0;
  display: flex;
  overflow: hidden;
}

@keyframes ltr {
  0% {
    transform: translateX(-40vw)
  }
  100% {
    transform: translateX(130vw)
  }
}

.ship {
  height:75px;
  margin: 0;
  animation-name: ltr;
  display: inline-block;
  transform: translateX(-100%);
  animation-duration: 20s;
  animation-iteration-count: infinite;
  filter: hue-rotate(130deg) contrast(80%) brightness(120%);
}

.button {
  font-family: 'Nova Square', cursive;
    color: white;
    
    padding: 1%;
    padding-left: 11%;
    padding-right: 11%;
    border-radius: 30px 0 20px 0;
    border: 9px #7eddca;
    border-style: solid none none solid;
    background-color: rgba(82, 218, 200, 0.24);
    transition-duration: 1s;
    margin: 0;
    
}

.button:hover {
  border: 10px #e39063;
  border-style: solid none none solid;
  transition-duration: 0.4s;
}

.button:active {
  border: 10px #e39063;
  border-style: solid none none solid;
  background-color: #e39063
}

.big-button {
  border-radius: 100%;
  width: 50vh;
  height: 50vh;
  background: rgb(217,111,210);
  background: linear-gradient(0deg, rgba(217,111,210,1) 0%, rgba(112,66,178,1) 51%, rgba(37,44,131,1) 100%);
  border: 0;
  font-family: 'Press Start 2P', cursive;
  font-size:x-large;
  color: white;
}

.big-button:hover {
  width: 55vh;
  height: 55vh;
  transition-duration: 1.5s;
}


