@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
  background: rgb(175,100,170);
  background-image: url("./assets/pixelstarspink.png"), linear-gradient(0deg, rgba(175,100,170,1) 0%, rgba(75,41,96,1) 11%, rgba(4,8,61,1) 100%);
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 238, 238);
  font-family: 'Nova Square', cursive;
  
}

h1, h2, h3 {
font-family: 'Press Start 2P', cursive;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.animate-ship {
  margin: 0;
  display: flex;
}

@keyframes ltr {
  0% {
    transform: translateX(-40vw)
  }
  100% {
    transform: translateX(100vw)
  }
}

.ship {
  height:50px;
  margin: 0;
  animation-name: ltr;
  display: inline-block;
  transform: translateX(-100%);
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
